/* All margin padding Zero */

#advertisement{
position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    color: rgba(100,100,100,1.00);
}
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*****Common Style for all pages************/
body {
	font-family: 'Lato', sans-serif;
	background-color: rgba(251,251,251,1.00);
}
a {
	text-decoration: none;
}
div {
	min-height: inherit !important;
	outline: 0 !important;
}
.ui-loader {
	display: none !important;
	outline: 0;
}
a, img, a img, a:focus, a:active, a img:focus, a img:active, input, textarea, select {
	outline: 0;
}
a img {
	display: block;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}
/*
Define the full width style
*/
.full {
	display: block;
	position: relative;
}
.clear {
	display: block;
	clear: both;
	position: relative;
	margin: 0px;
}
.clear:after {
	content: '';
	display: block;
}
/**********Grid style for all pages*****************/
.row {
	display: block;
	position: relative;
	margin: 0px;
}
.row:after {
	content: '';
	display: block;
	clear: both;
}
[class*="col-"] {
	float: left;
	position: relative;
	padding: 12px;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.img-responsive {
	max-width: 100%;
	height: auto;
}
/*Container Width for all pages***********/


.container {
	width: 1170px;
	margin: 0 auto;
}
/*************************Home-page logo*********************/
.logo-area {
	position: relative;
	top: 20px;
	width: 268px;
	left: 15px;
	z-index: 2000
}
.logo-area img {
	width: 60%;
	height: auto;
}
/************************Inner Page*****************************/
.inner-container {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.inner-left {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40%;
	height: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
	-webkit-transition: all .5s;
	transition: all .5s;
	-moz-transition: all .5s;
}
.inner-half-l {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: center center;
	-webkit-transition: all .5s;
	transition: all .5s;
	-moz-transition: all .5s;
}
.inner-half {
	position: absolute;
	right: 0px;
	width: 50%;
	height: 100%;
	background-color: rgba(251,251,251,1.00);
	overflow: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	padding: 0;
}
.inner-left-full {
	width: 100%;
	z-index: 100;
}
.inner-right {
	position: absolute;
	right: 0px;
	width: 60%;
	height: 100%;
	background-color: rgba(251,251,251,1.00);
	overflow: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	padding: 0;
}
.inner-right p strong {
	font-size: 20px;
}
.inner-right ul {
	margin: 0px;
	padding: 0px;
	margin-top: 40px;
	padding-left: 20px;
}
.inner-right ul li {
	font-size: 18px;
	font-weight: normal;
	color: rgba(100,100,100,1.00);
	line-height: 34px;
	list-style-image: url(../images/list-bg.png);
	padding-left: 4px;
}
.bg-color-white, .bg-color-black {
	padding: 60px 80px;
}
.bg-color-white {
	background-color: rgba(251,251,251,1.00);
	display: block;
}
.bg-color-black {
	background-color: rgba(0,0,0,1.00);
	display: block;
}
.contact-area h4 {
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 20px;
}
.contact-area a {
	color: #424242;
	font-size: 18px;
	display: block;
	margin: 2px 0px;
}
.contact-area a:hover {
	color: rgba(0,0,0,1.00);
	text-decoration: underline;
}
.social-media {
	display: block;
}
.inner-right h3, .inner-half h3 {
	font-size: 42px;
	font-weight: normal;
	color: rgba(103,103,103,1.00);
	padding: 40px 0px;
}
.inner-right p, .inner-half p {
	font-size: 18px;
	font-weight: normal;
	color: rgba(100,100,100,1.00);
	line-height: 28px;
}
.double-image {
	display: block;
	margin: 30px 0px;
	padding: 0px;
}
.img-content {
	display: inline-block;
	width: 48%;
	box-sizing: border-box;
	padding: 5px;
}
.img-content img {
	max-width: 100%;
	display: block;
}
.full-screen {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 20px;
	bottom: 20px;
	background-image: url(../images/full-screen.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	background-color: rgba(215,215,215,0.50);
	border-radius: 50%;
	opacity: .5;
}
.full-screen:hover {
	opacity: 1;
}
.restore-screen {
	background-image: url(../images/restore-down.png) !important;
}
#map_canvas
{
	width: 100%;
	height: 180%;
	position: relative;
	top: -150px;
	
}
.form-area
{
	display: block;
	margin-bottom: 20px;
}
.form-area-group
{
	display: block;
}
.form-area-group input,.form-area-group textarea
{
	display: block;
	width: 100%;
	padding: 12px 10px;
	border: 0px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px #ccc;
	border-radius: 3px;
}
.form-area-group textarea 
{
	height: 120px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #949494;font-family: 'Lato', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #949494;font-family: 'Lato', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #949494;font-family: 'Lato', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
   color: #949494;font-family: 'Lato', sans-serif;
}
.form-area-group button
{
	
   
   border: 0;
    outline: 0;
    background: snow;
    cursor: pointer;
	text-transform: uppercase;
	padding: 10px;
	display: inline-block;
	font-size: 18px;
	margin-left: 10px;
	border-radius: 3px;

}

button.clear-btn
{
	background-color: none;
}
button.clear-btn:hover
{
	
	color: #776931;
}
button.send-btn
{
	background-color: #e2bf2d;
	
}
button.send-btn:hover
{
	background-color: #382f08;
	color: #ffffff;
	
}