@charset "utf-8";

/* CSS Document */
@media screen and (max-width : 1920px) {
.slide { padding-top: 170px; }
}

@media screen and (max-width : 1600px) {
.slide { padding-top: 140px; }
}

@media screen and (max-width : 1360px) {
.slide { padding-top: 100px; }
}

@media screen and (max-width : 1175px) {
.container { width: auto; }
}

@media screen and (max-width : 720px) {
.slide { padding-top: 150px; }
.menu-icon-area {
	right: 15px;
	top: 20px;
}
/*.next-slide, .pre-slide
	{
		display:none;
	}*/
.inner-container {
	position: relative;
	height: auto;
	width: auto;
	margin-top: -104px;
	
}
.inner-half-l,
.inner-half,
.inner-right,
.inner-left {
	position: relative;
	display: block;
	width: 100% !important;
}
.full-screen { display: none; }
.inner-half-l { height: 250px; }
.inner-left { height: 250px; }
.bg-color-white,
.bg-color-black {
	padding: 0px 40px;
	padding-bottom: 60px;
}
.inner-right h3,
.inner-half h3 { font-size: 30px; }
.inner-right p,
.inner-half p { font-size: 16px; }
.navigation ul li h3
{
	font-size:20px;
}
	#map_canvas
	{
		top: -123px;
	}
}

@media screen and (max-width : 600px) {
.slide { padding-top: 110px; }
.logo-area { width: 148px; }
.navigation ul {
	display: block;
	overflow: auto;
	overflow-x: hidden;
	padding-right: 130px;
}
.navigation-animation { position: relative; }
.navigation ul li {
	display: block;
	height: auto;
	width: 100%;
}
.nav-link-box {
	top: auto !important;
	width: 190px !important;
	height: auto !important;
	padding: 30px 0px;
}
.description-menu { display: none; }
.navigation ul li h3 { font-size: 18px; }
.slide h3 {
	margin: 0px 20px;
	line-height: 24px;
}
.navigation ul li h3
{
	top:0 !important;
}
	 .img-content
	{
		display: block;
		width: auto;
	}
}
