/************Menu-Style************/
.menu-icon-area {
	display: inline-block;
	position: fixed;
	right: 20px;
	top: 20px;
	/*****Top Position And first upper Layer*******/
	z-index: 5000;
	-webkit-transition: all .5s;
	transition: all .5s;
	-moz-transition: all .5s;
}
.menu-icon-area-2 {
	display: inline-block;
	position: fixed;
	right: 65px;
	top: 45px;
	/*****Top Position And first upper Layer*******/
	z-index: 5000;
	-webkit-transition: all .5s;
	transition: all .5s;
	-moz-transition: all .5s;
}
.menu-icon {
	width: 45px;
	height: 45px;
	background-color: rgba(255,255,255,1.00);
	border-radius: 50px;
	cursor: pointer;
	position: relative;
	z-index: 10;
	box-sizing: border-box;
	padding: 16px 14px;
	-webkit-transition: all .2s;
	transition: all .2s;
	-moz-transition: all .2s;
}
.menu-icon:hover {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-3px, 2px);
	transform: rotate(-45deg) translate(-3px, 2px);
}
/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-4px, -3px);
	transform: rotate(45deg) translate(-4px, -3px);
}
.menu-text {
	background-color: rgba(0,0,0,1.00);
	color: rgba(255,255,255,1.00);
	position: absolute;
	right: 10px;
	height: 45px;
	line-height: 45px;
	top: 0px;
	border-radius: 50px;
	width: 70px;
	opacity: 0;
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 12px;
}
.bar1, .bar2, .bar3 {
	width: 18px;
	height: 2px;
	background-color: rgba(0,0,0,1.00);
	margin: 2px 0px;
	-webkit-transition: all .5s;
	transition: all .5s;
	-moz-transition: all .5s;
}
.close-text-show {
	display: none;
}
.menu-text-hidden {
	display: none;
}
.menu-text-show {
	display: block;
}
/*********************************Navigation*****************************/
.navigation {
	background-color: rgba(0,0,0,1.00);
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 3000;
}
.navigation ul {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}
.navigation ul li {
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	position: relative;
}
.navigation-animation {
	position: absolute;
	width: 0%;
	height: 100%;
	overflow: hidden;
	top: 0px;
	left: 0px;
	box-sizing: border-box;
	padding: 0px 0px;
}
.nav-link-box {
	float: left;
	position: relative;
	height: 200px;
	overflow: hidden;
}
.nav-color-1 {
	background-color: #2f2f2f;
}
.nav-color-2 {
	background-color: #222222;
}
.nav-color-3 {
	background-color: #191919;
}
.nav-color-3 {
	background-color: #191919;
}
.nav-color-4 {
	background-color: #0c0c0c;
}
.nav-color-5 {
	background-color: #000000;
}
.navigation ul li a {
	color: rgba(255,255,255,1.00);
}
.navigation ul li h3 {
	font-size: 30px;
	margin-bottom: 15px;
	font-weight: normal;
	padding: 0px 0px;
	margin: 0px 30px;
	position: relative;
	top: 60px;
	display: inline-block;
	border-top: 0 !important;
	border-right: 0 !important;
	border-left: 0 !important;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}
.navigation ul li h3 span {
	display: block;
	border: 1px solid #FFFFFF;
	margin-top: 5px;
	height: 2px;
	overflow: hidden;
	width: 0px;
	opacity: 0;
}
.navigation ul li p {
	font-size: 17px;
	font-weight: 300;
	color: rgba(235,235,235,1.00);
}
.description-menu {
	display: block;
	padding: 0px 30px;
	position: relative;
	top: 180px;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}
.menu-inner-btn {
	font-weight: bold;
	position: relative;
	top: 10px;
	font-size: 15px;
}
