.home-page-slider {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.slideshow {
	width: 100%;
	height: 100%;
	position: relative;
}
.slide {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: none;
}
.slide:first-child {
	display: block;
}
.slide h3 {
	font-family: 'Alex Brush', cursive;
	color: #7d7c7c;
	font-weight: 400;
	font-size: 45px;
}
.next-slide, .pre-slide {
	position: absolute;
	bottom: 30px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	outline: 0;
	border: 0;
	opacity: .5;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 100;
	background-size: 100%;
}
.next-slide:hover, .pre-slide:hover {
	opacity: 1;
}
.next-slide {
	background-image: url(../images/arrow-right.png);
	right: 30px;
}
.pre-slide {
	background-image: url(../images/arrow-left.png);
	right: 60px;
}
